import React from "react";
import PropTypes from 'prop-types';
import {makeStyles} from '@material-ui/core';

const useStyles = makeStyles(theme => ({

}));

const {{componentName}} = () => {
const classes = useStyles();

return (
<div>
  hello
</div>
);
};

{{componentName}}.propTypes = {

};

export default {{componentName}};