.footer {
  grid-column: full-start / full-end;
  grid-row: footer-start / footer-end;

  width: 100%;
  height: 5vh;
  background-color: var(--color-primary);
  text-align: center;
  line-height: 5vh;
  font-size: 1.2rem;
}